<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingV1">
	 <test name="loginTestFireFox">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.inetbanking.testCase.TC_LoginPage" />
		</classes>
	</test>
	<!--<test name="loginTestChrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.inetbanking.testCase.TC_LoginPage" />
		</classes>
	</test>-->

</suite> <!-- Suite -->
